{include file="page_header"}
	
<p style="text-align:right; display:none;">{C('shop.stats_code')}</p>

<div id="loading"><img src="{elixir('img/loading.gif')}" /></div>
<div id="fanhui" style="position:fixed;z-index:999;background:#f3f3f3;" class="text-all dis-box j-text-all text-all-back">
            <a class="a-icon-back"  href="{url('user/index/index')}"><i class="iconfont icon-back"></i>
			<span style="margin-left:2rem;padding-top:1.1rem;">&nbsp;&nbsp;返回                    </span>
			</a>
            
        </div>


<div class="con">
	
    <div class="goods-info user-order of-hidden ts-3" style="padding-top:50px">

        <nav style="padding-top:10px" class="tab-title b-color-f of-hidden" style="position:fixed">
            <ul class="dis-box">          
                <li class="box-flex {if $status ==10}active{/if}"><a status="10" >匹配中订单({$order_num.pay_count})</a></li>              
                <li class="box-flex {if $status ==0}active{/if}"><a  status="0" >匹配成功订单({$ordersuccess_num.pay_count})</a></li>              
            </ul>
        </nav>
             
       <section class="store_info">
       	
            <script id="j-product" type="text/html">

            <% if order_list!=""%>
                <%each order_list as order%>   			
                <section class="flow-checkout-pro  m-top08">
				<%if order.pay_status==10%>
                    <%if order.ppj_end_time < order.time && order.two_status < 1%>
                      <img style="position: absolute;width: 7rem;margin-left: 27rem;z-index: 999;" src="__ROOT__/public/img/overdue.png">
                	<%/if%>
		        <%/if%>
                    <header class="b-color-f dis-box padding-all">
                        <span class=" box-flex">
                            <%if order.user_name%>
                            <%order.user_name%>
                            <%else%>
                            <%order.shop_name%>
                            <%/if%>
                        </span>
                        <em class="j-goods-coupon t-first f-04">
                                <%if order.pay_status == 0%>
                                匹配成功
                                <%else%>
                                <%order.shop_name%>
                                <%/if%>
                                </em>
                    </header>
                    
                    <div class="f-c-p-orderid padding-all m-top1px b-color-f">
                        <a class="product-div-link" href="<%order.order_url%>"></a>

                        <h4 class="t-remark2">
                            <label class="t-remark">订单号：</label><%order.order_sn%>
                           
                             <span class="t-jiantou"></span>
                        </h4>
                        <p class="t-remark3 m-top04"><%order.order_time%>  第 <%order.ppj_no %>期</p>
                   
                    </div>

                    <div class="padding-all user-orderlist-shop dis-box text-all-select">
                        <a class="product-div-link" href="<%order.order_url%>"></a>
                        <ul class="flow-checkout-smallpic box-flex">
                            <%each order.order_goods as val %>
                            <li><img class="product-list-img" src="<%val.goods_thumb%>" /></li>
                            <%if order.order_goods_num==1 %>
                            <div class="twolist-hidden f-05 order-name-has"><%val.goods_name%></div>
                            <%/if%>
                            <%/each%>
                        </ul>
                        <% if order.pay_status ==10 %>
                        <span class="t-jiantou" style="color: orangered;">
                        共<%order.order_goods_num%>件商品,已付保证金：<%#order.total_fee%>                        
                         </span>
                        <%else%>
                        <span class="t-jiantou" style="color: orangered;">
                        共<%order.order_goods_num%>件商品
                        </span>
                        <%/if%>
                         
                    </div>
					<div class="padding-all f-05 user-order-money b-color-f">
												
						<% if order.pay_status ==10 %>
                          <%if order.two_status == 1 || order.two_status == 2%>
                             <span style="color:orangered;">成交价格：<%order.sellers_fee%> </span>
                          <%else%>
							<span style="color:orangered;">当前价格：<%order.price%> </span>
						    <span  style="color:burlywood;">
                        	最后一次出价：<%order.sellers_fee%>元 
                          <%/if%>       
                        </span>
						 <%else%>					 
						 <span style="color:orangered;">成交价格：<%order.total_fee%> </span>
						
						 <%/if%>
					</div>
					
                    <footer class="padding-all b-color-f m-top1px of-hidden dis-box">
                        <h4 class="t-remark2 box-flex"></h4>
                        <p class="ect-button-more ect-button-more-dete n-br-5">
                    <%if order.ppj_start_time < order.time && order.ppj_end_time >= order.time%> 
                        <% if order.pay_status ==10 %>                        
                            <%if order.two_status ==1 || order.two_status ==2 %>
                                    <% if order.ls_refund == 0 %>
                                    <a class="btn-default-new br-5 min-btn" href="{url('user/order/refundmargin')}&id=<%order.ppj_id%>">申请保证金退款</a>
                                    <%else if order.ls_refund == 1 %>
                                    <a class="btn-default-new br-5 min-btn" href="">保证金已退</a>
                                    <%else%>
                                    <a class="btn-default-new br-5 min-btn" href="">保证金退款中</a>
                                    <%/if%>
                                    <a class="btn-default-new br-5 min-btn received-order" data-item-received="<%order.order_id%>">确认收货</a>
                            <%else if order.two_status ==0 %>
                                <a class="btn-default-new br-5 min-btn" href="{url('user/userbuy/paipaibuy')}&ppj_id=&ppj_no=&sell=<%order.sell_user_data%>">待付款</a> 
                            <%else%>
                                <% if order.cur_price  < order.bid_price %>                             
                                <span style="color: rosybrown;"> 正在匹配适合的卖家...</span>
                                <%else%>
                                <span style="color:orangered;">匹配失败，请重新出价</span>
                                <%/if%>
                                <a class="btn-default-new br-5 min-btn" href="{url('groupbuy/index/detail')}&id=<%order.ppj_id%>">再次出价</a>
                        	<%/if%>
                        	
                            <%if order.delay == 1%>
                            <a class="btn-default-new br-5 min-btn delay-order"data-item="<%order.order_id%>">延迟收货</a>
                            <%/if%>
                            
                            <%if order.handler_return%>
                            <a class="btn-default-new br-5 min-btn" href="<%order.handler_return%>">申请售后</a>
                            <%/if%>

                            <%if !order.handler%>
                            
                            <a class="btn-default-new br-5 min-btn" href="<%order.order_url%>">查看订单</a>
                            
                            <%/if%>

                            <%if order.order_del%>
                             <button class="btn-default-new br-5 min-btn del-order" data-item="<%order.order_id%>">删除</button>
                            <%/if%>

                            <%#order.handler%>
                        <%/if%>
                    <%else%>
					   <%if order.pay_status ==10%>
                            <%if order.two_status ==0 &&  order.time < order.ppj_end_time+order.ppj_endpay_time %>
                                <a class="btn-default-new br-5 min-btn" href="{url('user/userbuy/paipaibuy')}&ppj_id=&ppj_no=&sell=<%order.sell_user_data%>">待付款</a> 
                            <%/if%>
                            
                            <% if order.ls_refund == 0 %>
                            <a class="btn-default-new br-5 min-btn" href="{url('user/order/refundmargin')}&id=<%order.ppj_id%>">申请保证金退款</a>
                            <%else if order.ls_refund == 1 %>
                            <a class="btn-default-new br-5 min-btn" href="">保证金已退</a>
                            <%else%>
                            <a class="btn-default-new br-5 min-btn" href="">保证金退款中</a>
                            <%/if%>
					  <%/if%>
					    <%if order.pay_status==2%>
					    <a class="btn-default-new br-5 min-btn" >确认收货</a> 
						<%/if%>
					    <%if !order.handler%>
                         <a class="btn-default-new br-5 min-btn" href="<%order.order_url%>">查看订单</a>                         
                        <%/if%>
						
                    <%/if%>
                        </p>
                    </footer>
                </section>
                <%/each%>
                
                <%else%>
                <div class="no-div-message">
                    <i class="iconfont icon-biaoqingleiben"></i>
                    <p>亲，还没有订单哦～！</p>
                </div>
                <%/if%>
            </script>
        </section>
    </div>
</div>


    <!--快捷导航-->
    {include file="float_nav"}
    {include file="float_nav_footer"}
    
    <script type="text/javascript">
        //订单列表
        var infinite = $('.store_info').infinite({url: "{url('user/order/indexpaipai')}", template: 'j-product', params: 'status={$status}'});
       
       
       $(".tab-title a").click(function () {
            var status = $(this).attr('status');

            infinite.onload('status=' + status);
            
            $(this).parent().addClass("active").siblings().removeClass("active");
        })

        //延迟收货
        $(".goods-info").on('click','.delay-order', function() {
            var order_id = $(this).attr('data-item');
            var url='{url("user/order/delay")}';
            layer.open({
                content: '是否延迟收货此订单',
                btn: ['确定', '取消'],
                shadeClose: false,
                yes: function() {
                    $.post(url, {order_id:order_id}, function(result) {
                        layer.open({
                        content: result.msg
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                        });
                        if (result.y == 1) {
                            window.location.href = "{url('user/order/index')}";
                        }
                        return false;
                    }, 'json');
                },
                no: function() {}
            });
        });

        //删除订单
        $(".goods-info").on('click','.del-order', function() {
            var order_id = $(this).attr('data-item');
            var url='{url("user/order/delorder")}';
            layer.open({
                content: '是否删除此订单',
                btn: ['确定', '取消'],
                shadeClose: false,
                yes: function() {
                    $.post(url, {order_id:order_id}, function(result) {
                         if (result.y == 1) {
                            window.location.href = "{url('user/order/index')}";
                         }
                    }, 'json');
                },
                no: function() {}
            });
        });

        //确认订单
        $(".goods-info").on('click','.received-order', function() {
            var order_id = $(this).attr('data-item-received');
            var url = "{url('user/order/affirmreceived')}";
            //alert(order_id);
            layer.open({
                content: '你确认已经收到货物了吗？',
                btn: ['确定', '取消'],
                shadeClose: false,
                yes: function() {
                    $.post(url, {order_id:order_id}, function(result) {
                         if (result.y == 1) {
                            window.location.href = "{url('user/order/index')}";
                         }
                    }, 'json');
                },
                no: function() {}
            });
        });

        // 取消订单
        $(".goods-info").on('click','.cancel-order', function() {
            var order_id = $(this).attr('data-item');
            var url = "{url('user/order/cancel')}";
            layer.open({
                content: '确定要取消该订单吗？取消后将视为无效订单',
                btn: ['取消订单', '再考虑下'],
                shadeClose: false,
                yes: function() {
                    $.post(url, {order_id:order_id}, function(result) {
                         if (result.y == 1) {
                            window.location.href = "{url('user/order/index')}";
                         }
                         return false;
                    }, 'json');
                },
                no: function() {}
            });
        });
    </script>
</body>
</html>
