{include file="page_header"}
<style>
    .flow-accessories .product-list .product-div{position:relative;}
    .flow-accessories .product-list .product-div .a-accessories-clear{position: absolute;
    font-size: 1.8rem;
    color: #888;
    right: 1.3rem;
    bottom: 1.3rem;}
    .flow-accessories .product-list .product-div .a-accessories-clear i{font-size:1.8rem;}
</style>
<p style="text-align:right; display:none;">{C('shop.stats_code')}</p>
		<div id="loading"><img src="{elixir('img/loading.gif')}" /></div>

		<div id="fanhui" class="text-all dis-box j-text-all text-all-back" style="position:fixed;z-index:999;background:#f3f3f3;">

			<a class="a-icon-back" href="javascript:history.go(-1) "><i class="iconfont icon-back"></i>
			<span style="margin-left:2rem;padding-top:1.1rem;">&nbsp;&nbsp;返回                    </span>	</a>

		</div>	
 <div class="store_info" style="margin-top: 50px">
{if $att != ''}
		<div class="flow-accessories blur-div">
                              
			<section class="product-list j-product-list product-list-small">
					<ul>
					{foreach $att as $a=>$b}
						<li>
							<div class="product-div">
                               <a href="{$att['url']}">
								{if $b['is_end'] == 1}
                               	    <div class="group-bq-box" style="display:block">  <span>进行中</span> </div>
								{elseif $b['is_end'] == 2}
									<div class="group-bq-box" style="display:block">  <span>已结束</span> </div>
								{elseif $b['is_end'] == 0}
									<div class="group-bq-box"  style="display:block;background:#FFF0F0;color:red">  <span>未开始</span> </div>
                               	{/if}
								<img class="product-list-img" src="{$b['goods_thumb']}" />
								
								<div class="product-text index-product-text">
									<a href="{$b['url']}"><h4>{$b['goods_name']}</h4>
										<em class="em-promotion"> 第 {$b[0]['ppj_no']}期</em>
									</a>																		
									<p class="dis-box p-t-remark"><span class="box-flex">保证金:{$b[0]['ppj_margin_fee']}</span></p>
									<p style="margin-top: -10px;"><span class="p-price t-first ">当前价格:{$b['formated_cur_price']}</span></p>
									{if $b['end_date'] > 0}
                           			<p style="margin-top: -20px;"><span style="font-size: 10px;">活动{$b['end_date']}天后结束</span></p>
                           			{elseif $b['end_date'] < 0 }
                           			<p style="margin-top: -20px;"><span style="font-size: 10px;">活动已结束</span></p>
                           			{/if}
                           			<p style="margin-top: -20px;"><span style="font-size: 10px;">报名时间:{$b['baoming']}</span></p>
								</div>
								                            
							</div>
							
							<footer class="padding-all b-color-f m-top1px of-hidden dis-box">
							<section class="m-top1px padding-all b-color-f goods-service j-show-div j-service">
								<div class="dis-box">
									<div class="box-flex">
										<div class="dis-box">
											<i class="iconfont icon-102 goods-min-icon">说明</i>
										</div>
									</div>
								</div>
							</section>
						
							{if $b['is_end'] == 0}
								<div class="zidong" >
		                            <span style="width:150px;color: blue;margin-left: 14px;" class="btn-default-new br-5 min-btn"
		                                id="autosale">自动出价</span>
		                            <input type="hidden" id="ppj_id" class="ppj_id" name="ppj_id" value="{$v['ppj_id']}">
		                            <input type="hidden" id="ppj_no" class="ppj_no" name="ppj_no" value="{$v['ppj_no']}">
		                        </div>
							{elseif $b['is_end'] == 2}
								<div style="padding-top: 11px;">
									<span style="width:150px;color: blue;margin-left: 180px;" class="btn-default-new br-5 min-btn"  id="autosale">活 动 结 束</span> 
								</div>
							{elseif $b['is_end'] == 1}
								{if $b['is_baoming'] == 1}
									<div style="padding-top: 11px;">
			                            <span style="width:150px;color: blue;margin-left: 14px;" class="btn-default-new br-5 min-btn"
			                                id="autosale">已设置手动出售</span>
			                        </div>
			                        <div class="zidong" style="padding-top:11px;">
			                            <span style="width:150px;color: blue;margin-left:190px;" class="btn-default-new br-5 min-btn">修改自动出售</span>
			                            <input type="hidden" id="ppj_id" class="ppj_id" name="ppj_id" value="{$v['ppj_id']}">
			                            <input type="hidden" id="ppj_no" class="ppj_no" name="ppj_no" value="{$v['ppj_no']}">
			                        </div>
								{elseif $b['is_baoming'] == 0}
									<div class="shoudong">
			                            <p class="ect-button-more ect-button-more-dete n-br-5" style="margin-left:130px;">
			                                <span style="width:150px; color: red;" class="btn-default-new br-5 min-btn" id="nowsale">马上卖出</span>
			                                <input type="hidden" id="ppj_id" class="ppj_id" name="ppj_id" value="{$v['ppj_id']}">
			                                <input type="hidden" id="ppj_no" class="ppj_no" name="ppj_no" value="{$v['ppj_no']}">
			                                <input type="hidden" id="goods_id" class="goods_id" name="goods_id" value="{$v['goods_id']}">
			                            </p>
			                        </div>
			                        <div class="zidong" >
			                            <span style="width:150px;color: blue;margin-left: 14px;" class="btn-default-new br-5 min-btn"
			                                id="autosale">自动出价</span>
			                            <input type="hidden" id="ppj_id" class="ppj_id" name="ppj_id" value="{$v['ppj_id']}">
			                            <input type="hidden" id="ppj_no" class="ppj_no" name="ppj_no" value="{$v['ppj_no']}">
			                        </div>
								{elseif $b['is_baoming'] == 2}
									<div style="padding-top: 11px;">
			                            <span style="width:150px;color: blue;margin-left: 100px;" class="btn-default-new br-5 min-btn"
			                                id="autosale">已自动出价</span>
			                        </div>
			                        <div class="xiugai" style="padding-top:11px;">
			                            <span style="width:150px;color: blue;margin-left:10px;" class="btn-default-new br-5 min-btn">修改价格区间</span>
			                            <input type="hidden" id="ppj_id" class="ppj_id" name="ppj_id" value="{$b[0]['ppj_id']}">
			                            <input type="hidden" id="ppj_no" class="ppj_no" name="ppj_no" value="{$b[0]['ppj_no']}">
			                            <input type="hidden" class="seller_min_fee" name="seller_min_fee" value="{$b['seller_min_fee']}">
			                            <input type="hidden" class="seller_max_fee" name="seller_max_fee" value="{$b['seller_max_fee']}">
			                        </div>
			                    {else}
			                    	<div style="padding-top: 11px;">
										<span style="width:150px;color: blue;margin-left: 17rem;" class="btn-default-new br-5 min-btn"  id="autosale">成功售出</span> 
									</div>
								{/if}
							{/if}
                        </p>
                    </footer>     
                            
						</li>
						{/foreach}
					</ul>
					
				</section>
                        {else}         
                                 <div class="no-div-message">
				   <i class="iconfont icon-biaoqingleiben"></i>
				<p>亲，还没有拍拍商品哦～！</p>
			</div>
                             {/if}       
		</div>
<div class="show-goods-service j-filter-show-div ts-3 b-color-1 service-box">
	<section class="goods-show-title of-hidden padding-all b-color-f">
		<h3 class="fl g-c-title-h3">零售说明</h3>
		<i class="iconfont icon-guanbi2 show-div-guanbi fr"></i>
	</section>
	<section class="goods-show-con goods-big-service swiper-scroll">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<ul>
					<li class="m-top1px b-color-f padding-all of-hidden">
						<p class="dis-box t-remark3">
							<em class="em-promotion"><i class="iconfont icon-daifukuan"></i></em>
							<span class="box-flex">手动售出</span>
						</p>
						<p class="g-b-s-con m-top08"><p>把握价格，敬请关注实时浮动的当前价，选择确认是否售出哦</p></p>
					</li>
					<li class="m-top1px b-color-f padding-all of-hidden">
						<p class="dis-box t-remark3">
							<em class="em-promotion"><i class="iconfont icon-7tianwuliyoutuihuo"></i></em>
							<span class="box-flex">自动售出</span>

						</p>
						<p class="g-b-s-con m-top08"><p>方便省心，设定预售价格区间，系统会根据买方出价自动售出呢</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>
		<script>
//			/*店铺信息商品滚动*/
//			var swiper = new Swiper('.j-f-n-c-prolist', {
//				scrollbarHide: true,
//				slidesPerView: 'auto',
//				centeredSlides: false,
//				grabCursor: true
//			});
			var url = "{url('user/index/paipaibuy')}";	
		$("#nowsale").click(function(){
			var ppj_id= $(this).attr("ppjid");
			
			//alert(ppj_no);
			
            layer.open({           	
                content: '<h4 class="t-remark">确认售出即可获得收益</h4>	',
                btn: ['确定', '取消'],
                shadeClose: false,
                yes: function() {
                  $.post(url, {ppj_id:ppj_id},
                     function(result){
                     	
                         if(result.y == 1){     
                         	d_messages('出售成功，买家支付收货后您将获收益！');	
                         	 setTimeout(function () {
         window.location.href = "{url('user/index/mypaipailist')}";
    }, 1000);
                           
                         }else if(result.y ==2){
                         	
                         	d_messages('当前还没有人出价，暂时不能卖');
				            return false;
				            
                         }else if(result.y == 3){
                         	d_messages('当前价格低于该商口最低成交价，暂时不能卖');
				            return false;
                         }else if(result.y == 4){
                         	d_messages('您的销售券只能在下一期才能用，暂时不能卖');
				            return false;
                         }else if(result.y == 5){
                         	d_messages('您的销售券为空，暂时不能卖');
				            return false;
                         }else if(result.y == 0){
                         	d_messages('没有匹配的价格，暂时不能卖，请继续等待！');
				            return false;
                         }
                         
                         
                     }, 'json');
                 },
                no: function() {

                }
            });
        });
		
		
		
		$(".zidong").click(function(){
        var ppj_id = $(this).find(".ppj_id").val();  
		var ppj_no = $(this).find(".ppj_no").val();   		
         //alert(ppj_id);
            layer.open({
                type: 1,
                title:'预售价格区间',
                skin:'layui-layer-rim',
                area:['300px', '80%'],
                content: ' <div class="row" style="width: 420px;  margin-left:7px; margin-top:10px;">'
                    +'<div class="col-sm-12">'
                    +'<div class="input-group">'
                    +'<span class="input-group-addon"> 最低价   :</span>'
                    +'<input id="seller_min_fee" name="seller_min_fee" type="text" class="form-control" placeholder="不能少于成本价">'
                    +'</div>'
                    +'</div>'
                    +'<div class="col-sm-12" style="margin-top: 10px">'
                    +'<div class="input-group">'
                    +'<span class="input-group-addon">最高价:</span>'
                    +'<input id="seller_max_fee" name="seller_max_fee" type="text" class="form-control" placeholder="不能高于零售价">'
                    +'</div>'
                    +'</div>'
                    +'</div>'
                ,
                btn:['保存','取消'],
                yes: function (index, layero) {
                    var max = $("#seller_max_fee").val();
                    var min = $("#seller_min_fee").val();
					//alert(max);
					//alert(min);exit;
                    $.ajax({
                        url:"{url('groupbuy/index/newprice')}",
                        type:"post",
                        data:{"max":max,"min":min,"ppj_id":ppj_id,"ppj_no":ppj_no},
                        dataType:'json',
                        success:function(success){
                            if(success.re == 1){
                                layer.open({
                                    content: '修改成功'
                                    ,skin: 'msg'
                                    ,time: 2 //2秒后自动关闭
                                });
                                layer.close(index);
                            }else if(success.re == 2){
                                layer.open({
                                    content: '修改失败'
                                    ,skin: 'msg'
                                    ,time: 2 //2秒后自动关闭
                                });
                                layer.close(index);
                            }
                        },
                        error:function(success){
                            layer.open({
                                content: '您没有优惠券'
                                ,skin: 'msg'
                                ,time: 2 //2秒后自动关闭
                            });
                            layer.close(index);
                        }
                    });
                },
                btn2:function (index,layero) {
                    layer.open({
                        content: '您没有优惠券'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    layer.close(index); 
                }

            });
        });
        
        $(".xiugai").click(function () {
            var ppj_id = $(this).find(".ppj_id").val();
            var ppj_no = $(this).find(".ppj_no").val();
			var seller_min_price = $(this).find(".seller_min_fee").val();
			var seller_max_price = $(this).find(".seller_max_fee").val();
            layer.open({
                type: 1,
                title: '修改出售价格区间',
                skin: 'layui-layer-rim',
                area: ['300px', '80%'],
                content: ' <div class="row" style="width: 230px;">'
                    + '<div class="col-sm-12">'
                    + '<div>'
                 	+ '上次出价'+seller_min_price+'~'+seller_max_price
                    + '</div>'                    
                    + '<div class="input-group">'
                    + '<span class="input-group-addon" style="width:70px"> 最低价:</span>'
                    + '<input id="seller_min_fee" name="seller_min_fee" type="text" class="form-control" placeholder="不能少于成本价">'
                    + '</div>'
                    + '</div>'
                    + '<div class="col-sm-12" style="margin-top: 10px">'
                    + '<div class="input-group">'
                    + '<span class="input-group-addon">最高价:</span>'
                    + '<input id="seller_max_fee" name="seller_max_fee" type="text" class="form-control" placeholder="不能高于零售价">'
                    + '</div>'
                    + '</div>'
                    + '</div>'
                ,
                btn: ['确认', '取消'],
                yes: function (index,  layero) {
                    var max = $("#seller_max_fee").val();
                    var min = $("#seller_min_fee").val();
//                  alert(max);
                    $.ajax({
                        url: "{url('groupbuy/index/newprice')}",
                        type: "post",
                        data: { "max": max, "min": min, "ppj_id": ppj_id, "ppj_no": ppj_no },
                        dataType: 'json',
                        success: function (res) {
//                      	console.log(res.re);
                            if (res.re == 1) {
                                layer.open({
                                    content: '修改成功'
                                    , skin: 'msg'
                                    , time: 2 //2秒后自动关闭
                                });
                                layer.close(index);
                            } else if (res.re == 2) {
                                layer.open({
                                    content: '修改失败'
                                    , skin: 'msg'
                                    , time: 2 //2秒后自动关闭
                                });
                                layer.close(index);

                            }
                        },
                        error: function (success) {
                            if (success.re == 3) {
                                layer.open({
                                    content: '您没有优惠券'
                                    , skin: 'msg'
                                    , time: 2 //2秒后自动关闭
                                });
                                layer.close(index);
                            }
                        }
                    });
                },
                btn2: function (index, layero) {
                    layer.open({
                        content: '您没有优惠券'
                        , skin: 'msg'
                        , time: 2 //2秒后自动关闭
                    });
                    layer.close(index);
                }

            });
        });
		
		
   		
		
		$(function(){
	        //服务
	        $(".j-service").click(function() {
	            $(".service-box").addClass('show')
	        });
		})
		
		</script>
	</body>

</html>